.App {
  width: 100%;
  height: 100%;
  background-color: black;
}

.Bar {
  color: white;
  height: 100vh;
  width: 100vw;
  display: inline-block;
  border: 1px;
  border-color: white;
  border-style: solid;
  background-color: aquamarine;
  margin-left: 1px;
  margin-right: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Selected {
  background-color: red;
}

.Success {
  border: 5px;
  background-color: green;
}

.BarList {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}
