.App {
  width: 100vw;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media only screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }
}

.Bar {
  color: white;
  height: 100vh;
  width: 100vw;
  display: inline-block;
  border: 1px;
  border-color: white;
  border-style: solid;
  background-color: aquamarine;
  margin-left: 1px;
  margin-right: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Selected {
  background-color: red;
}

.Success {
  border: 5px;
  background-color: green;
}

.BarList {
  display: flex;
  align-items: flex-end;
  height: 100%;
  min-width: 0;
}
